@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,700);

.container {
    width: 1184px;
    text-align: left;
    margin: auto;
}

.title {
    font-size: 30px;
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: #49A862;
    display: inline-block;
}

.more {
    float: right;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;

    color: #000000;
}

.board {
    background: #F5F5F5;
    font-size: 24px;
    line-height: 35px;
    color: #000000;
    padding: 17px;
}

.board > div > a {
    font-size: 20px;
}

.board-info {
    float: right;
}

.board-info > a {
    font-size: 17px;
    line-height: 20px;
    margin-right: 20px;
    margin-left: 7px;
}